@charset "utf-8";

.post-title {
  text-align: center;
}

.post-content li {
  padding: 3.5px 0;
}

.post-content p {
  line-height: 20px;
  font-size: 14px;
}

.post-content img {
  display: block;
  margin: 10px auto;
}

.post-info {
  line-height: 24px;
  margin: 10px 0;
}

.post-category,
.post-tag {
  margin: 0 5px;
}

.indexImg {
  width: 450px;
  position: relative;
  left: calc(50% - 225px);
}
